<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reminiscent</title>
</head>
<body>
    <div>
        <div class="left">
            <div class="keyword">
                <input placeholder="keyword"/>
                <button class="add"> ADD </button>
                <button class="get"> GET </button>
            </div>
            <div class="add-content">
                <textarea placeholder="content"></textarea>
            </div>
        </div>
        <div class="right">
            <div class="data-units">
                <div>
                    aaaaa
                </div>
            </div>
        </div>

    </div>
</body>
</html>